@font-face {
    font-family: "pokemon";
    src: url(pokemon/Pokemon\ Solid.ttf);
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 196, 37);
    margin: 0px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue; 
    height: 200px;   
}

.title-pokedex {
    font-family: "pokemon";
    color: yellow;
    font-size: 60px;
    cursor: pointer;
}

.menu-search {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.search-label {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 35px;
    border: none;
    border-radius: 10px;
    width: 50%;
    font-family: Helvetica;
    color: grey;
    font-size: 15px;
}

.search-field {
    height: 30px;
    border-radius: 10px;
    border: none;
    width: 90%;
    margin-left: 10px;
    margin-top: 2px;
}

.search-button {
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 10%;
    cursor: pointer;
}

.search-button:hover {
    background-color:whitesmoke;
}

.filter-button {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 3px 5px black;
    height: 35px;
    width: 10%;
    background-color: rgb(32, 32, 204);
    cursor: pointer;
    margin-left: 5px;
}

.filter-button:hover {
    background-color: lightblue;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    visibility: hidden;
    height: 0px;
    position: fixed;
    width: 100%;
}

.menu-exhibit {
    visibility: visible;
    height: auto;
    margin-top: 200px;
}

.select-box {
    display: flex;
    align-items: baseline;
    background-color: blue;
    border-radius: 10px;
}

.select-label {
    background-color: blue;
    border: none;
    font-family: Helvetica;
    font-size: 20px;
    height: 40px;
}

select {
    background-color: rgb(32, 32, 204);
    border: none;
    font-family: Helvetica;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
}

select:hover {
    background-color: lightblue;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 0px;
}

.main-html {
    margin-top: 250px;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
}

.pokemon-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0px;   
}

.information-card {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    border-radius: 10px;
    width: 30%;
    background-color: red;
    cursor: pointer;
}

.image-pokemon {
    background-color: white;
    border-radius: 5px;
    margin: 2px;
    width: 40%;
}

.description {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    margin: 2px;
    padding: 5px;
    font-family: Helvetica;
}

.popup-brackground {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
    transition: all 1s;
}

.popup-brackground.popup-brackground-exhibit {
    visibility: visible;
    opacity: 1;
}

.popup-card {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    background-color: red;
    width: 300px;
    height: 500px;
    z-index: 3;
    box-shadow: 3px 3px 20px grey;
    transform: translate(10px);
    opacity: 0;
    transition: all 1s;
    padding: 10px;
    border-radius: 10px;
}

.popup-card.popup-card-exhibit {
    visibility: visible;
    opacity: 1;
    transform: translate(0px);
}

.description-popup {
    display: flex;
    justify-content: center;
}

.inside-popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: Helvetica;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.image-popup-card {
    text-align: center;
}

.button-popup-esc {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 10px black;
    font-size: 20px;
}

.button-popup-esc:hover {
    background-color: gray;
}

.div-scroll-up {
    position: fixed;
    align-self: flex-end;
    margin-top: 450px;
    z-index: 1;
}

.scroll-adjust {
    margin-top: 400px;
}

.button-scroll-up {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.button-scroll-up:hover {
    background-color: gray;
}

.creatby {
    text-align: center;
    font-family: Helvetica;
}

@media only screen and (max-width: 800px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    .title-pokedex {
        font-size: 40px;
        margin: 0px;
    }

    .menu-search {
        justify-content: space-around;
        width: 90%;
    }

    .search-label {
        width: 80%;
    }

    .search-field {
        width: 70%;
    }

    .search-button {
        width: 20%;
    }

    .filter-button {
        width: 15%;
    }

    nav {
        flex-direction: column;
    }

    select {
        flex-direction: column;
        text-align: left;
        background-color: rgb(32, 32, 204);
        width: 60%;
    }

    .select-box {
        width: 100%
    }

    .select-label {
        width: 40%;
    }

    .main-html {
        margin-top: 325px;
    }

    h1 {
        font-size: 20px;
    }

    .pokemon-card {
        flex-direction: column;
        align-content: center;
        touch-action: auto;
    }

    .information-card {
        width: 95%;
    }

    .popup-card {
        background-color: rgba(250, 4, 4, 0.8);
        top: calc(50% - 310px);
        left: calc(50% - 150px);
        width: 280px;
        height: 600px;
    }

    .div-scroll-up {
        margin-top: 400px;
    }

    .scroll-adjust {
        margin-top: 280px;
    }
}